<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dreamone.dev"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="15"/>

    <permission
            android:name="com.dreamone.dev.permission.MAPS_RECEIVE"
            android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.dreamone.dev.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    </uses-permission>
    <!-- 获取设置信息和详情页直接拨打电话需要以下权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE">
    </uses-permission>

    <!-- Requiring OpenGL ES version 2 -->
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:resizeable="true"
            android:smallScreens="true"/>

    <application
            android:name=".ApolloApplication"
            android:icon="@drawable/ic_launcher"
            android:label="Apollo"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyAPcdMWdNLXuVvJujE4YkQS5fGsLedCFNU"/>
        >

        <activity android:name=".SelectLoginTypeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <activity
                android:name="com.dreamone.dev.MainActivity"
                android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dreamone.dev.GoogleMapActivity"
                android:label="@string/title_activity_main">
        </activity>

        <activity android:name="com.dreamone.dev.EditWeiboActivity">
            <intent-filter>
                <action android:name="com.dreamone.action.test_edit_activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


        <activity
                android:name="com.dreamone.dev.BaiduMapActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/app_name"
                android:screenOrientation="sensor">
        </activity>
        <!-- 微信SDK Begin-->
        <activity
                android:name=".wxapi.WXEntryActivity"
                android:exported="false"/>
        <!-- 微信SDK End-->

        <!-- -微博SDK Begin - -->
        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
                  android:configChanges="keyboardHidden|orientation"
                  android:windowSoftInputMode="adjustResize"
                  android:exported="false" >
        </activity>

        <!-- 手机短信注册页面 -->
        <activity android:name="com.sina.weibo.sdk.register.mobile.MobileRegisterActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"
                  android:exported="false" >
        </activity>

        <!-- 注册选择国家页面 -->
        <activity android:name="com.sina.weibo.sdk.register.mobile.SelectCountryActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:windowSoftInputMode="adjustResize"
                  android:exported="false" >
        </activity>
        <!-- -微博SDK End - -->

    </application>

</manifest>